ZMK_UNICODE_PAIR(es_c_cedilla,       N0, N0, E, N7,   N0, N0, C, N7)
ZMK_UNICODE_SINGLE(es_corchete_izq,    N0, N0, N5, B);
ZMK_UNICODE_SINGLE(es_corchete_der,    N0, N0, N5, D);

ZMK_UNICODE_SINGLE(es_llave_izq,   N0, N0, N7, B);
ZMK_UNICODE_SINGLE(es_llave_der,   N0, N0, N7, D);