ZMK_UNICODE_PAIR(es_c_cedilla, U00E7, U00C7);
ZMK_UNICODE_PAIR(corchete_izq, U005B, U00E7);  
ZMK_UNICODE_PAIR(corchete_der, U005D, U00E7);  
ZMK_UNICODE_PAIR(llave_izq, U007b, U00E7);    
ZMK_UNICODE_PAIR(llave_der, U007d, U00E7);   
