//https://zmk.dev/docs/codes
//https://zmk.dev/docs/development/new-shield

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#include "zmk-helpers/helper.h"
#include "unicode-chars/spanish.dtsi"

#define LOWER 1
#define RAISE 2
#define SHIFT 3
#define OPTIONS 4
#define LOCK 5

/*
&mt es una abreviatura de "mod-tap". Este comportamiento permite que una tecla funcione como un modificador 
(como Shift, Ctrl, Alt, etc.) cuando se mantiene presionada, y como una tecla normal cuando se pulsa y se suelta 
rápidamente. Por ejemplo, &mt LSFT A hará que una tecla funcione como "A" cuando se pulsa y se suelta rápidamente, 
y como Shift izquierdo cuando se mantiene presionada.

&kt es una abreviatura de "key tap". Este comportamiento permite que una tecla funcione como una tecla normal cuando 
se pulsa y se suelta rápidamente, pero también puede tener un comportamiento diferente si se mantiene presionada. Sin 
embargo, a diferencia de &mt, &kt no está limitado a los modificadores y puede asignar cualquier comportamiento a la 
acción de mantener presionada.

Por lo tanto, la principal diferencia entre &mt y &kt es que &mt está limitado a los modificadores para la acción de 
mantener presionada, mientras que &kt puede asignar cualquier comportamiento a la acción de mantener presionada.
*/

/ {
    behaviors {
        // Hold-tap behavior
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            //flavor = "tap-preferred"; por defecto en situaciones ambiguas que haga el hold
            bindings =
                <&kp>,
                <&kp>;
        };

        // Toggle layers
        tl: tl{
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";                
            tapping-term-ms = <350>;                // Tiempo para determinar entre tap y hold
            bindings = <&tog>, <&tog>;  // Capa Lower para tap, Capa Options para hold
        };

        // Tap dance CAPSLOCK
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <170>;
            bindings = <&kp LSHFT>, <&kp CAPSLOCK>;
        };
        //, ;
        td1: td1 { 
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COMMA>, <&kp LT>;
        };
        //. :
        td2: td2 { 
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&kp GT>;
        };

        // Raise, Lock
        td3:td3{
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo RAISE>, <&tog LOCK>;
        };
        
        //. ,
        td4: td4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&kp COMMA>;
        };
        
        //TAB ESCAPE
        // td5:td5{
        //     compatible = "zmk,behavior-tap-dance";
        //     #binding-cells = <0>;
        //     tapping-term-ms = <200>;
        //     bindings = <&kp TAB>, <&kp ESC>;
        // };

        // Backspace Delete
        // mod1: mod1 {
        //     compatible = "zmk,behavior-mod-morph";
        //     #binding-cells = <0>;
        //     bindings = <&kp BACKSPACE>, <&kp DELETE>;
        //     mods = <(MOD_LSFT|MOD_RSFT)>;
        //     keep-mods = <(MOD_RSFT)>;
        // };
    };
    
    // conditional_layers {
    //     compatible = "zmk,conditional-layers";

    //     tri_layer {
    //         if-layers = <LOWER RAISE>;
    //         then-layer = <OPTIONS>;
    //     };
    // };
	
    macros {
        macro1: macro1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LALT &kp F4>;
        };
        passVeridata: passVeridata {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CAPSLOCK &kp A &kp B &kp C &kp D &kp CAPSLOCK &kp QUESTION &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_N4>;
        }; 
    };

    / {
        combos {
            compatible = "zmk,combos";
            combo_code {
                timeout-ms = <50>;
                key-positions = <1 39>;
                bindings = <&kp LGUI &kp NUMBER_4>;
            };

            combo_explorador {
                timeout-ms = <50>;
                key-positions = <2 39>;
                bindings = <&kp LGUI &kp NUMBER_5>;
            };

            combo_discord {
                timeout-ms = <50>;
                key-positions = <3 39>;
                bindings = <&kp LGUI &kp NUMBER_6>;
            };

            combo_brave {
                timeout-ms = <50>;
                key-positions = <4 39>;
                bindings = <&kp LGUI &kp NUMBER_7>;
            };
        };
    };
    
    keymap {
        compatible = "zmk,keymap";
        // Layer Default - QWERTY
        // |  TAB  |  Q  |  W  |  E  |   R   |  T  |       |  Y  |  U  |  I  |  O  |  P  |    BKSP  |
        // |  TD0  |  A  |  S  |  D  |   F   |  G  |       |  H  |  J  |  K  |  L  |  Ñ  |   ´¨{}   |
        // | LCTRL |  Z  |  X  |  C  |   V   |  B  |       |  N  |  M  |  ,; |  .: |  -_ |    '?    |
        //                     | ALT | LW/OPT| SPC |       | ENT | LGUI| TD3 |
        default_layer {
            bindings = <
                &kp TAB &kp Q       &kp W       &kp E       &kp R   &kp T               &kp Y       &kp U       &kp I           &kp O           &kp P       &kp BACKSPACE
                &td0        &kp A       &kp S       &kp D       &kp F   &kp G               &kp H       &kp J       &kp K           &kp L           &kp SEMI    &kp SQT
                &kp LCTRL   &kp Z       &kp X       &kp C       &kp V   &kp B               &kp N       &kp M       &td1      &td2        &kp SLASH   &kp MINUS
                                                    &kp LALT    &tl OPTIONS LOWER    &kp SPACE           &kp ENTER   &kp LGUI    &td3
            >;
        };
        // -----------------------------------------------------------------------------------------
        // Layer Lower - Number pad and media keys
        // |  ESC  |  1   |  2   |  3   |  4     |  5   |       |  6   |  7   |  8   |  9   |  0   | BKSP/DEL |
        // | LSHFT | VOL+ | VOL- | MUTE | &none  | &none|       | &none|  UP  | &none| &none| &none| DEL      |
        // | LCTRL | REW  |  FF  | PLAY | HOME   |  END |       | LEFT | DOWN | RGHT |  .,  | &none| PRINT    |
        //                       | ALT  | LW/OPT |  SPC |       | ENT  | RALT | RAISE/LOCK |
        layer_lower {
            bindings = <
                &kp ESCAPE &kp NUMBER_1    &kp NUMBER_2    &kp NUMBER_3        &kp NUMBER_4  &kp NUMBER_5              &kp NUMBER_6 &kp NUMBER_7 &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp BACKSPACE
                &kp LSHFT  &kp C_VOLUME_DOWN  &kp C_VOL_UP    &kp C_MUTE          &none       &none                       &none       &kp UP      &none        &none          &none       &kp DELETE
                &kp LCTRL  &ht C_RW C_PREV &ht C_FF C_NEXT &kp C_PLAY_PAUSE    &kp HOME    &kp END                     &kp LEFT    &kp DOWN    &kp RIGHT    &td4  &trans      &kp PRINTSCREEN
                                                    &kp LALT    &tl OPTIONS LOWER    &kp SPACE           &kp ENTER   &kp RALT    &td3
            >;
        };
        // -----------------------------------------------------------------------------------------
        // Layer RAISE
        // |  FN1  |  FN2  |  FN3  |  FN4  |  FN5  |  FN6 |       |  FN7 |  FN8  |  FN9 | FN10 |  FN11 |  FN12 |
        // | LSHFT | &none | &none | &none | &none | &none|       | &none| &none | `^[  | +*]  |   [   |   ]   |
        // | LCTRL |   <   |   >   | &none | &none | &none|       |  ¿¡  |   \º  | &none|  çÇ  |   {   |   }   |
        //                         |  ALT  | &none |  SPC |       |  ENT |  RALT | RAISE/LOCK |
        layer_raise {
            bindings = <
                &kp F1  &kp F2                  &kp F3          &kp F4      &kp F5  &kp F6                  &kp F7          &kp F8  &kp F9     &kp F10     &kp F11   &kp F12
                &kp LSHFT  &none    &none   &none &none  &none                  &none           &none   &kp LBKT   &kp RBKT    &es_corchete_izq   &es_corchete_der
                &kp LCTRL  &menor_que                  &mayor_que          &none      &none  &none          &abre_int_ex           &inv_slash   &none   &es_c_cedilla    &es_llave_izq   &es_llave_der
                                                                &kp LALT    &none  &macro1                 &passVeridata   &kp LGUI  &td3
            >;
        };

        layer_shift {
            bindings = <
                &kp TILDE        &kp EXCL        &kp AT         &kp HASH       &kp DLLR        &kp PRCNT       &kp CARET       &kp AMPS       &kp KP_MULTIPLY       &kp LPAR       &kp RPAR       &kp UNDERSCORE
                &trans           &trans          &trans         &trans         &trans          &trans          &trans          &trans         &kp PIPE               &kp COLON      &kp DOUBLE_QUOTES  &kp PLUS
                &kp PRINTSCREEN  &trans          &trans         &trans         &trans          &trans          &trans          &trans         &trans                &kp LESS_THAN  &kp GREATER_THAN   &kp CAPSLOCK
                                            &trans           &trans          &trans         &trans        &trans             &trans
            >;
        };
        // -----------------------------------------------------------------------------------------
        // Layer OPTIONS
        // | BT_CLR |  BT0  |  BT1  |  BT2  |  BT3  |  BT4   |       | &none  | &none | &none | &none | &none | &none |
        // | &none  | &none | &none | &none | &none | &none  |       | &none  | &none | &none | &none | &none | &none |
        // | &none  | &none | &none | &none | &none | &none  |       | &none  | &none | &none | &none | &none | &none |
        // | &none  | &none | &none | &none | LW/OPT| bootldr|       | bootldr| &none | &none | &none | &none | &none |
        // 
        layer_options {
            bindings = <
                &bt BT_CLR &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4              &none          &none   &none   &none   &none   &none 
                &none      &none          &none         &none          &none          &none                     &none          &none   &none   &none   &none   &none
                &none      &none          &none         &none          &none          &none                     &none          &none   &none   &none   &none   &none
                                                        &none          &tl OPTIONS LOWER &bootloader            &bootloader    &none   &none                                            
            >;
            //&ext_power EP_TOG  &none          &bootloader           &bootloader  &rgb_ug RGB_TOG &out OUT_TOG 
        };
        // -----------------------------------------------------------------------------------------
        // Layer LOCK
        // | &none | &none | &none | &none | &none | &none |       | &none | &none | &none | &none | &none | &none |
        // | &none | &none | &none | &none | &none | &none |       | &none | &none | &none | &none | &none | &none |
        // | &none | &none | &none | &none | &none | &none |       | &none | &none | &none | &none | &none | &none |
        //                         | &none | &none | &none |       | &none | &none | RAISE/LOCK |
        lock_layer {
            bindings = <
                &none      &none      &none      &none      &none    &none                            &none      &none     &none      &none      &none      &none
                &none      &none      &none      &none      &none    &none                            &none      &none     &none      &none      &none      &none
                &none      &none      &none      &none      &none    &none                            &none      &none     &none      &none      &none      &none
                                                 &none      &none    &none                            &none      &none     &td3
            >;
        };
    };
};
